body{
    background: linear-gradient(41deg, #3b506b, #dd6b6b);
    min-height: 100vh;
}


.wrapper{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.ansi{
    background-color: #2a2a2a;
    color: #ffffff;
    padding: 1em;
    border-radius: 0.5em;
}

.ansi>pre{
    margin: 0px;
    min-height: 1em;
}
